Repository coteditor/CotEditor, pull requests merged in 2025-06, with the labels that each got.

#1863 HTML ARIA Attributes
  CotEditor/Resources/Syntaxes/HTML.yml
Labels: feature, syntax highlight

#1869 HTML Syntax Highlighting
  CotEditor/Resources/Syntaxes/HTML.yml
Labels: syntax highlight

#1872 Syntax Highlighting: CSS Color Spaces
  CotEditor/Resources/Syntaxes/CSS.yml
Labels: syntax highlight

#1878 Update Polish localization (#1875)
  CotEditor/Localizables/Application/MainMenu.xcstrings
  CotEditor/Localizables/Panels/WhatsNew.xcstrings
  CotEditor/Localizables/Settings/Other Views/EncodingList.xcstrings
Labels: localization
